<div class="well">
  <% @todos.each do |todo| %>
    <p><%= "#{todo.description} completed? :#{todo.completed}" %></p>
    <%= link_to 'Show', todo  %>
    <%= link_to 'Edit', edit_todo_path(todo) %>
    <%= link_to 'Delete', todo, method: :delete, data: {confirm: 'are you sure?'} %>
    <% if todo.completed == true %>
      <label class="btn btn-dark">Done</label>
    <% else %>
      <%= link_to 'Done', complete_todo_path(todo), class: 'btn btn-dark'%>
    <% end %>
  <% end %>
</div>


<%= link_to 'crear ToDo', todos_new_path %>
