<h3 class="htres">New ToDo</h3>
<p><%= form_with model: @todo, local: true do |f|%></p>
<p>Introduce the <%= f.label :description %>
<%= f.text_field :description %></p>
<p>Is <%= f.label :completed %> this ToDo?
<%= f.check_box :completed %></p>

<%= f.submit %>

<%end%>
